
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    overflow-y: scroll;
    background: #efefef;
}

.share-buttons{
    margin-right:10px;
    float:right;
    list-style: none;
}

.share-buttons li{
    display: inline;
}

/* default html overwrites */
*       { margin: 0; font-family: sans-serif; font-size: 14px; line-height: 1.6em; font-weight: 300; color: #9b9da1;}
p       { font-size: 1.0em; font-weight: 300; }
strong  { font-size: 1.2em; font-weight: 400;}
a       { border: 0; text-decoration: none; color: #666;}
a:hover { color: #2a7640; }
hr      { size: 1; color: #dcdcdc; margin:15px; }
h1      { font-size: 1.8em; font-weight: 400; padding: 5px 0 5px 0; }
h2      { font-size: 1.4em; font-weight: 400; padding: 3px 0 3px 0; }
h3      { font-size: 1.1em; font-weight: 300; }

.clearBoth { 
    clear:both; 
}

.header {
    background: #fff;
    margin: 0;
    padding: 10px 20px 0 20px;
    border-bottom: thick solid #cdcdcd;
    min-width: 320px;   
}

.header_content {
    margin: 0 auto;
    max-width: 1100px;
}

.search {
    background: #444;
    margin: 0;
    padding: 15px;
    height: 85px;
    min-width: 320px;   
    border-bottom: thin solid #2a7640;    
}

.search_content {
    color: white;    
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

.logo {
    margin: 0 30px 0 0;
    float: left;
}

.logo > a {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.4em; font-weight: 400;
    color: #444;
}

.menu {
    margin-right: 20px;
    float: right;
}

.menu_item {
    float: left;
    font-size: 2.4em; 
    font-weight: 400;
    margin: 10px;
}

.mx_footer {
    height: 150px;
    margin: 0 auto;
    background: #444;  
    border-top: thin solid #2a7640;        
}

.mx_footer_content {    
    font-weight: 300;
    color: #fff;
    padding: 10px 20px 0 20px;
    min-width: 320px;   
    margin: 0 auto;
    max-width: 1100px;
}

.content_main {
    background: #fff;
    margin: 0 auto;
    min-width: 320px;
    border: 0;
    max-width: 1100px; 
    padding: 10px 20px 50px 20px;
    box-shadow: 1px 0px 5px #888888;
}

.content_left_aligned {
    padding: 20px 20px 100px 20px;  
}

.big {
    font-size: 1.2em;
}






.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
} 

/* Form wrapper styling */
.form-wrapper {
    width: 320px;
    padding: 2px;
    margin: 1px 1px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Form text input */
 
.form-wrapper input {
    width: 190px;
    height: 12px;
    padding: 10px 15px;
    float: left;   
    font: normal 12px sans-serif;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 32px;
    width: 100px;
    font: normal 12px/30px sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #2a7640;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
   
.form-wrapper button:hover{    
    background: #cdcdcd;
}  
   
.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #cdcdcd;
    outline: 0;  
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 5px 6px 5px 0;
    border-style: solid solid solid none;
    border-color: transparent #2a7640 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #cdcdcd;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}     
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
