/* Custom Stylesheet */
footer.page-footer {
	min-height: 200px;
	margin: 0;
}

.input-field input[type=text]:focus {
	border-bottom: thin solid #000;
	box-shadow: none;
	color: #ff9800;
}

.input-field input[type=text].valid {
	border-bottom: thin solid #000;
	box-shadow: none;
	color: #ff9800;
}