    <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
          <div class="white teal-text" role="content">
              <form class="col s12">
                <div class="row">
                    <div class="input-field col s2"> </div>                                      
                    <div class="input-field col s8">
                        <i class="mdi-action-search prefix black-text"></i>
                        <input id="search" ng-model="search" type="text" class="validate" ng-change="updateResults();" placeholder="Search" autofocus>
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="By default it will look for datasets matching all search terms. Use the | (pipe) sign to look for datasets matching any of the search terms."><i style="font-size: 12pt;" class="mdi-action-info-outline prefix teal-text"></i></a>
                    </div>  
                    <div class="input-field col s2"> </div>                                      
                </div>
              </form>
          </div>
      </div>      
    </div>
  </div>

  <div class="container hide-on-small-only">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text darken-4"><i class="mdi-content-content-copy"></i></h2>
            <h5 class="center">Browse</h5>
            <p class="light">Datasets are stored in external data repositories independent of MetabolomeXchange. Use this browse option to zoom in om a specific data provider. It will give you direct access to the repository itself and the meta-data of the provider.</p>
            <a href="" class="orange-text" ng-click="scrollTo('browse')">Learn more...</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text darken-4"><i class="mdi-notification-tap-and-play"></i></h2>
            <h5 class="center">Subscribe</h5>

            <p class="light">RSS is used to allow users to be notified of new or updated datasets. On serveral pages you will see the orange RSS icon that allows you to subscribe to the feed using your own preferred reader.</p>
            <a href="" class="orange-text" ng-click="scrollTo('rss')">Learn more...</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text darken-4"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">API</h5>

            <p class="light">The primairy objective of MetabolomeXchange is to improve and encourage the exchange of Metabolomics data. One of the ways we do this is to provide an API (Application Programmable Interface). Providing a single point of entry when searching for Metabolomics data sets.</p>
            <a href="" class="orange-text" ng-click="scrollTo('api')">Learn more...</a>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="hide-on-small-only parallax-container">
    <div class="parallax"><img height="700px;" src="/site/img/par2.jpg"></div>
  </div>  

  <a name="browse"></a>
  <div class="teal white-text" role="content">
    <div class="container">
      <div class="section">
        <h2><i class="mdi-content-content-copy"></i> Browse</h2>
        <p>MetabolomeXchange contains datasets from {{stats.providers}} different data providers.</p>        

        <div class="row" ng-repeat="provider in providers | orderBy:'name'">
          <div class="col s12 m12">
            <div class="card teal darken-2">
              <div class="card-content white-text">
                <a class="right" target="_blank" href="/rss/search/{{provider.shortname}}"><img src="/site/img/feed-icon-14x14.png" /></a>
                <span class="card-title orange-text">{{provider.name}}</span>
                <p>{{provider.description}}</p>
              </div>
              <div class="card-action">
                <a target="_blank" href="{{provider.url}}">www</a>
                <a target="_blank" href="/rss/search/{{provider.shortname}}">rss</a>
                <a href="#/search/{{provider.shortname}}#top">datasets ({{stats.providerDatasets[provider.shortname]}})</a>
              </div>
            </div>
          </div>
        </div>
        <br/><br/><div class="divider"></div>
        <a class="white-text right" href="" ng-click="scrollTo('top')">back to top...</a><br />
      </div>
    </div>
  </div>  

  <div class="hide-on-small-only parallax-container">
    <div class="parallax"><img height="700px;" src="/site/img/par3.jpg"></div>
  </div>  

  <a name="stats"></a>
  <div class="white black-text" role="content">
    <div class="container">
      <div class="section">
        <h2><i class="mdi-action-trending-up"></i> Stats</h2>
        <div>
          <nvd3 options="options" data="stats.providerHistory"></nvd3>
        </div>
        <br/><br/><div class="divider"></div>
        <a class="black-text right" href="" ng-click="scrollTo('top')">back to top...</a><br />
      </div>
    </div>
  </div>  

  <div class="hide-on-small-only parallax-container">
    <div class="parallax"><img height="700px;" src="/site/img/par3.jpg"></div>
  </div>

  <a name="rss"></a>
  <div class="orange white-text" role="content">
    <div class="container">
      <div class="section">
        <h2><i class="mdi-notification-tap-and-play"></i> Subscribe</h2>
        <p class="dark">MetabolomeXchange uses RSS to allow users to be notified of new or updated datasets. On serveral pages you will see the orange RSS icon that allows you to subscribe to the feed using your own preferred reader. In the top-right corner of this page you will find the link to subscribe to all updates. If you search a smaller icon will appear, just above the search results, that allows you to recieve only updates matching that search term. The last option it to subscribe to only updates from a specific provider, the link to this feed is listed in the overview of the providers.</p>        
        <br/><br/><div class="divider"></div>
        <a class="white-text right" href="" ng-click="scrollTo('top')">back to top...</a><br />
      </div>
    </div>
  </div>  

  <div class="hide-on-small-only parallax-container">
    <div class="parallax"><img height="700px;" src="/site/img/par1.jpg"></div>
  </div> 

  <a name="api"></a>
  <div class="white black-text" role="content">
    <div class="container">
      <div class="section">
        <h2><i class="mdi-action-settings"></i> API</h2>
        <p class="dark">The primairy objective of MetabolomeXchange is to improve and encourage the exchange of Metabolomics data. One of the ways we do this is to provide an API (Application Programmable Interface). Providing a single point of entry when searching for Metabolomics data sets.</p>
        <p class="light">Our service architecture has been designed to be light-weight. Therefore the API is limited to act as a thin aggregation layer on top of the actual data providers. The core information aggregation is done server-side, intelligently cached, and exposed by the API. The API is the back-end for this site and the RSS feeds.</p>
        <p class="light">The API is versioned, by default you use the latest version available. If you want to use an older (still supported) version you can specify this when calling the API. Further documentation and the version specific information can be found at: <a target="_blank" href="http://api.metabolomexchange.org" class="light italic">http://api.metabolomexchange.org</a></p>
        <br/><br/><div class="divider"></div>
        <a class="black-text right" href="" ng-click="scrollTo('top')">back to top...</a><br />
      </div>
    </div>
  </div> 

  <div class="hide-on-small-only parallax-container">
    <div class="parallax"><img height="700px;" src="/site/img/par1.jpg"></div>
  </div>   