<div class="section no-pad-bot" id="index-banner">
	<div class="container">
	  <div class="row center">
	      <div class="white teal-text" role="content">
	          <form class="col s12">
	            <div class="row">
	                <div class="input-field col s2"> </div>                                      
	                <div class="input-field col s8">
	                    <i class="mdi-action-search prefix black-text"></i>
	                    <input id="search" ng-model="search" type="text" class="validate" ng-change="updateResults();" ng-value="search" placeholder="Search" autofocus>
	                </div>  
	                <div class="input-field col s2"> </div>                                      
	            </div>	            
	          </form>
	      </div>
	  </div>      
	</div>
</div>

<div class="container">
    <div class="section no-pad-bot" id="index-banner">
        <a class="right" target="_blank" href="/rss/search/{{search}}"><img src="/site/img/feed-icon-14x14.png" /></a>		
		<span ng-show="doneLoading === '1'"><strong>{{datasets.length}}</strong> datasets found matching <strong>{{search}}</strong></span>
    	</br>
		<div ng-repeat="dataset in datasets | orderBy:'-timestamp'" class="row">
			<div class="col s12">
			  <div class="card-panel">
				<strong class="flow-text"><a href="#/dataset/{{dataset.provider}}/{{dataset.accession}}" ng-click="scrollTo('top');" >{{dataset.title}}</a></strong>
				<blockquote class="light">{{dataset.description[0]}}</blockquote>
				<div class="card-action">
					{{dataset.date}} |
					<a href="#/search/{{submitter}}" ng-click="scrollTo('top');" ng-repeat-start="submitter in dataset.submitter">{{submitter}}</a><span ng-repeat-end="" ng-show=" ! $last ">, </span> |
					<a href="#/search/{{dataset.provider}}"><span ng-repeat="provider in providers | filter:dataset.provider ">{{provider.name}}</span></a> |
					<a target="_blank" href="{{dataset.url}}">{{dataset.accession}}</a>
				</div>
			  </div>
			</div>
		</div> 	
        <div class="progress" ng-show="doneLoading !== '1'">
		  <div class="indeterminate"></div>
		</div>	                    		
        <div style="min-height: 2000px;" ng-show="doneLoading !== '1'"></div>	                    				
    </div>
</div>

