<div class="content_left_aligned">
	<div ng-repeat="provider in providers | filter: provider">
		<a class="rsslink" target="_blank" href="http://metabolomexchange.org/rss/search/{{provider.shortname}}"><img src="/img/feed-icon-28x28.png"></a>
		<h1>{{provider.name}} ({{provider.datasets.length}})</h1>
		<a target="_blank" href="{{provider.url}}">{{provider.url}}</a>
		<p>{{provider.description}}</p>
		<br class="clearBoth" />		
		<div ng-if="provider.datasets.length > 0">
		    <div ng-repeat="dataset in provider.datasets | orderBy:sortField:true">	
		    	<div ng-include="'/app/views/dataset.html'"></div>
		    	<hr class="clearBoth" />		
		    <div>
		</div>	
	</div>
</div>